---
BasedOnStyle: LLVM
IndentWidth: 4
TabWidth: 4
UseTab: Never
ColumnLimit: 160
AccessModifierOffset: -4
AlignAfterOpenBracket: Align
AlignConsecutiveAssignments: true
AlignTrailingComments: true
AllowShortBlocksOnASingleLine: Empty
AllowShortCaseLabelsOnASingleLine: true
AllowShortFunctionsOnASingleLine: Inline
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
BinPackArguments: true
BinPackParameters: true
BreakBeforeBraces: Attach
Cpp11BracedListStyle: true
IncludeBlocks: Preserve
IndentCaseLabels: false
NamespaceIndentation: All
PointerAlignment: Left
SortIncludes: false
SpaceAfterTemplateKeyword: true
SpaceBeforeParens: ControlStatements
Standard: c++20
